# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# Logs and Temporary Files
*.log
website_logs.txt
temp/
